input,
textarea,
select {
  border: none;
  outline: none;

  &:focus {
    border: none;
    outline: none;
  }

  &:disabled {
    background-color: $grey-300 !important;
  }
}

input[type=checkbox] {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  & + label {
    padding-left: 20px;
    height: 15px;
    display: inline-block;
    line-height: 15px;
    background-repeat: no-repeat;
    background-position:  0 0;
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer;

    background-image: url(../images/checkbox-sprite.png);
  }

  &:checked + label {
    background-position: 0 -15px;
  }
}

input[type=text],
input[type=password],
input[type=number],
input[type=email] {
  border: none;
  outline: none;
  border-bottom: 2px solid $grey-300;
  background: transparent;
  color: $grey-800;
  font-size: 14px;
  transition: border-bottom-color 0.1s ease-in-out;

  &:focus, &:active {
    border-bottom-color: $highlight !important;
  }
}

input:not([type=password]) {
  font-family: 'Source Sans Pro', sans-serif;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 40px;
  padding: $half-space/4 30px $half-space/4 $half-space/2;
  border-radius: 0;
  background-color: $grey-300;
  background-image: url(../images/select-arrows.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px;
  color: $grey-800;
  font-size: 14px;

  &:focus {
    background-color: $grey-200;
  }
}

textarea {
  padding: $half-space / 2 !important;
  background-color: $medium-dark-grey-background;
  color: $light-grey-text;
}
