input[type=checkbox] {

  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px;
  width:1px;
  margin:-1px;
  padding:0;
  border:0;

  & + label {
    padding-left:20px;
    height:15px;
    display:inline-block;
    line-height:15px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;

    background-image:url(../images/checkbox-sprite.png);
  }

  &:checked + label {
    background-position: 0 -15px;
  }

}

input:not([type=password]) {
  font-family: 'Source Sans Pro', sans-serif;
}