*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  float: left; // to fix width problem when children are wider
  min-width: 100%;

  background: $light-grey-background;
}

body > div {
  height: 100%;
}

.table-wrapper {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  min-height: calc(100% - #{$minimized-currently-playing-height + $header-height});

  // TODO: better approach for this? (extra div created by React returning a single element rendered)
  & > div {
    display: table;
    width: 100%;
    height: 100%;
  }

  & > .shadow {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    height: 5px;

    opacity: 0.2;

    background: -moz-linear-gradient(bottom,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
    background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -ms-linear-gradient(bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  }
}

%clearfix:before,
%clearfix:after,
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

%clearfix:after,
.clearfix:after {
  clear: both;
}

.block { display: block; }
.inline-block { display: inline-block; }

.nudge { margin: $full-space; }
.nudge-half { margin: $half-space; }
.nudge--top { margin-top: $full-space; }
.nudge-half--top { margin-top: $half-space; }
.nudge-quarter--top { margin-top: $half-space/2; }
.nudge--bottom { margin-bottom: $full-space; }
.nudge-half--bottom { margin-bottom: $half-space; }
.nudge--left { margin-left: $full-space; }
.nudge-half--left { margin-left: $half-space; }
.nudge--right { margin-right: $full-space; }
.nudge-half--right { margin-right: $half-space; }
.nudge--sides { margin-left: $full-space; margin-right: $full-space; }
.nudge-half--sides { margin-left: $half-space; margin-right: $half-space; }
.nudge--ends { margin-top: $full-space; margin-bottom: $full-space; }
.nudge-half--ends { margin-top: $half-space; margin-bottom: $half-space; }

.flush { margin: 0; }
.flush--top { margin-top: 0; }
.flush--bottom { margin-bottom: 0; }
.flush--left { margin-left: 0; }
.flush--right { margin-right: 0; }
.flush--sides { margin-left: 0; margin-right: 0; }
.flush--ends { margin-top: 0; margin-bottom: 0; }

.island { padding: $full-space; }
.islet { padding: $half-space; }
.soft--top { padding-top: $full-space; }
.soft-half--top { padding-top: $half-space; }
.soft--bottom { padding-bottom: $full-space; }
.soft-half--bottom { padding-bottom: $half-space; }
.soft--left { padding-left: $full-space; }
.soft-half--left { padding-left: $half-space; }
.soft--right { padding-right: $full-space; }
.soft-half--right { padding-right: $half-space; }
.soft--sides { padding-left: $full-space; padding-right: $full-space; }
.soft-half--sides { padding-left: $half-space; padding-right: $half-space; }
.soft--ends { padding-top: $full-space; padding-bottom: $full-space; }
.soft-half--ends { padding-top: $half-space; padding-bottom: $half-space; }

.hard { padding: 0; }
.hard--top { padding-top: 0; }
.hard--bottom { padding-bottom: 0; }
.hard--left { padding-left: 0; }
.hard--right { padding-right: 0; }
.hard--sides { padding-left: 0; padding-right: 0; }
.hard--ends { padding-top: 0; padding-bottom: 0; }