*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  float: left; // to fix width problem when children are wider
  min-width: 100%;

  background: $light-grey-background;
}

body > div {
  height: 100%;
}

.table-wrapper {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  min-height: calc(100% - #{$minimized-currently-playing-height + $header-height});

  // TODO: better approach for this? (extra div created by React returning a single element rendered)
  & > div {
    display: table;
    width: 100%;
    height: 100%;
  }

  & > .shadow {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    height: 5px;

    opacity: 0.2;

    background: -moz-linear-gradient(bottom,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
    background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -ms-linear-gradient(bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  }
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.island {
  padding: $full-space;
}

.islet {
  padding: $half-space;
}