.fade-enter {
    opacity: 0.01;
    height: 0;
    @include transition(opacity 450ms ease-out,
                        height 500ms ease-out);
}

.fade-enter.fade-enter-active {
    opacity: 1;
    height: auto;
}

.fade-leave {
    opacity: 1;
    height: auto;
    @include transition(opacity 450ms ease-out,
                        height 500ms ease-out);
}

.fade-leave.fade-leave-active {
    opacity: 0;
    height: 0;
}
