// Basic colors
$white: #ffffff;
$black: #000000;

// Shades of grey
$grey-100: #1f2332;
$grey-200: #272938;
$grey-300: #2e3243;
$grey-400: #333849;
$grey-500: #35394b;
$grey-600: #3b3f53;
$grey-700: #414558;
$grey-800: #7d8195;
$grey-900: #b5bad0;

// Specific colors
$highlight: #5ac6e3;
$red: #bf616a;
$yellow: #f0c54a;

// Source colors
$audiomack-orange: #ffa200;
$bandcamp-blue: #639aa8;
$soundcloud-orange: #ff5419;
$spotify-green: #8ec63f;
$youtube-red: #de1a2a;

// Social media colors
$facebook-blue: #3B5998;
$twitter-blue: #55acee;
$google-orange: #dd4b39;

// Sizing and spacing
$half-space: 20px;
$full-space: $half-space*2;
$border-radius-base: 3px;
$max-content-width: 1400px;

$window-menu-bar-height: 32px; /* 12px high buttons, 10px padding */
$header-height: 50px;
$header-user-options-height: 35px;
$subheader-image-size: 100px;
$min-card-height: 160px;
$list-controls-height: 40px;
