section.content.explore {

  .title-container {
    margin: $half-space;

    .icon-container {
      width: 25px;
    }
    .title {
      width: auto;
      padding-left: $half-space/2;
    }
  }

}