section.login {

  text-align: center;

  h1 {
    color: $white;
  }

  form {
    width: 40%;
    margin: 0 auto;

    .input-container > label {
      padding-right: $half-space;

      color: $light-grey-text;
    }
  }

}