section.content.profile {

  .profile-header-container {
    display: table;
    width: 100%;
    padding: $half-space;
    margin: 0 0 $half-space/2;

    background: $hover-grey-background;

    & > div {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
    }

    .avatar-container {
      width: 80px;

      .avatar {
        width: 80px;
        height: 80px;
      }
    }

    .name-container {
      padding-left: $half-space;

      h3.name {
        font-weight: lighter;
      }
    }

    .buttons-container {
      text-align: right;
    }
  }

  .content-container {
    display: table;
    width: 100%;

    & > div {
      display: table-cell;
      height: 100%;
      padding: $half-space/2 $half-space $half-space;
      vertical-align: top;

      .title-container {
        width: 100%;
        margin: 0 0 $half-space;
      }
    }

    .playlists-container {
      text-align: center;

      ul.playlist-list {
        padding: 0;
      }

      .no-playlists {
        color: $white;
      }
    }

    .tracks-container {
      width: $sidebar-width;

      .no-starred-tracks {
        color: $white;
      }
    }
  }

}