section.content.profile {

  .content-container {
    display: table;
    width: 100%;

    & > div {
      display: table-cell;
      height: 100%;
      padding: $half-space/2 $half-space $half-space;
      vertical-align: top;

      .title-container {
        width: 100%;
        margin: 0 0 $half-space;
      }
    }

    .playlists-container {
      text-align: center;

      ul.playlist-list {
        padding: 0;
        margin-bottom: $half-space;
      }
    }

    .stars-container {
      width: 400px;
    }
  }

}