.add-track-from-url-form {

  input {
    padding: $half-space/2;
    font-size: 14px;
  }

  .track {
    margin-top: $half-space/2;
    list-style: none;
    border-top: 1px solid $grey-300;
    border-bottom: 1px solid $grey-300;
    border-left: 1px solid $grey-300;

    > .track-info-container > div {
      border-bottom: none;
    }
  }

}
