.control-bar {

  z-index: 500;
  position: relative;
  width: 100%;
  text-align: center;
  background: $dark-grey-background;
  color: $white;

  i {
    cursor: pointer;

    @include transition(text-shadow 0.1s ease-in-out, color 0.1s ease-in-out);

    &:hover {
      text-shadow: -1px 1px 8px rgba($white, 0.3), 1px -1px 8px rgba($white, 0.3);
    }
  }

  .scrolling-info-container {
    position: relative;
    z-index: 5; // place below control bar
  }

  .controls-wrapper {
    position: relative;
    z-index: 10; // place above scrolling song info container
    display: table;
    width: 100%;
    height: $currently-playing-control-height;
  }

  .playback-container,
  .scrubber-container,
  .dropdown-toggle-container,
  .globals-container {
    display: table-cell;
    padding: 0 $half-space;
    vertical-align: middle;
  }

  .playback-container {
    @extend %clearfix;
    width: $sidebar-width;

    .backward-container,
    .play-pause-container,
    .forward-container {
      width: 33%;
      float: left;
    }

    .backward-container {
      text-align: left;
    }

    .play-pause-container i {
      display: inline-block;
      height: 30px;
      width: 30px;
      line-height: 26px;
      @include border-radius(100%);
      border: 2px solid $white;

      &.icon-play {
        letter-spacing: -2px; // Fix horizontal alignment issue with play icon
      }
    }

    .forward-container {
      text-align: right;
    }

    .backward-container i,
    .forward-container i {
      line-height: 30px;
    }
  }

  .scrubber-container {
    @extend .clearfix;
    padding-left: 0;

    span.time-passed,
    span.time-left {
      display: block;
      width: 5%;
      float: left;

      line-height: 26px;
      color: $extra-light-grey-text;
    }

    .seek-scrubber {
      position: relative;
      display: block;
      width: 89%;
      height: 10px;
      float: left;
      top: 7px;

      background: $hover-grey-background;

      cursor: pointer;

      .progress-fill {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        max-width: 100%;

        background: rgba($white, 0.85);

        @include box-shadow(-1px 1px 8px 0 rgba($white, 0.3), 1px -1px 8px 0 rgba($white, 0.3));
        //@include transition(width 0.1s ease-in-out);
      }
    }
  }

  .dropdown-toggle-container {
    width: 50px;
    padding-right: 0;
    text-align: center;

    i {
      display: inline-block;
      height: 25px;
      width: 25px;
      line-height: 20px;
      letter-spacing: -1px;
      font-size: 18px;
      color: $light-grey-text;
      border-style: solid;
      border-width: 3px;
      border-color: $light-grey-text;
      @include border-radius(100%);

      cursor: pointer;
      @include transition(color 0.1s ease-in-out, border-color 0.1s ease-in-out);

      &:hover {
        color: $highlight;
        border-color: $highlight;
      }
    }
  }

  .globals-container {
    @extend %clearfix;
    width: $sidebar-width;

    .volume-container,
    .repeat-container,
    .shuffle-container {
      text-align: right;
    }

    .volume-container {
      width: 50%;
      float: left;

      i {
        float: left;
        margin-right: 8px;
      }

      .volume-scrubber {
        position: relative;
        float: left;
        width: 75%;
        height: 10px;
        top: 2px;

        background: $hover-grey-background;

        cursor: pointer;

        .volume-fill {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;

          background: rgba($white, 0.85);

          @include box-shadow(-1px 1px 8px 0 rgba($white, 0.3), 1px -1px 8px 0 rgba($white, 0.3));
          @include transition(width 0.1s ease-in-out);
        }
      }
    }

    .repeat-container,
    .shuffle-container {
      width: 25%;
      float: left;

      i.active {
        color: $highlight;
        text-shadow: -1px 1px 8px rgba($highlight, 0.3), 1px -1px 8px rgba($highlight, 0.3);
      }
    }
  }

}