.btn, .button, input[type=submit] {

  position: relative;
  display: inline-block;
  top: 0;
  padding: $half-space/2;
  border: 0;
  border-radius: $border-radius-base;

  cursor: pointer;

  font-size: 14px;
  text-transform: uppercase;
  background-color: $highlight;
  transition: background-color 0.1s ease-in-out;
  color: $white;

  &:hover {
    text-decoration: none;
    color: $white;
    background-color: lighten($highlight, 5);
  }

  &.active {
    top: 2px;
  }

  &.large {
    padding: $half-space $full-space;
    font-size: 16px;
  }

  &.full {
    display: block;
    width: 100%;
    text-align: center;
  }

  &:disabled {
    background-color: $grey-300 !important;
    cursor: default !important;
  }

  &.red {
    background-color: $red;
    &:hover { background-color: lighten($red, 5); }
  }

  &.facebook {
    background-color: $facebook-blue;
    i { @extend .epsilon; }
    &:hover { background-color: lighten($facebook-blue, 5); }
  }

  &.twitter {
    background-color: $twitter-blue;
    &:hover { background-color: lighten($twitter-blue, 5); }
  }

  &.google {
    background-color: $google-orange;
    &:hover { background-color: lighten($google-orange, 5); }
  }

}
