ul.comments-container {

  position: relative;
  margin: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden;

  list-style: none;
  background: $light-grey-border;
  font-size: 14px;

  @include transition(max-height 0.7s ease-in-out);

  & > li {
    @extend .comment;

    &.input-container {
      padding: $half-space/2 0;

      input {
        width: 100%;
        padding: $half-space/2;
        border: none;
        outline: none;

        background: $dark-grey-background;
        color: $light-grey-text;
        font-size: 14px;
      }
    }
  }

  &.show {
    max-height: 1000px;
  }

}