$avatar-size: 40px;

.comment {

  position: relative;
  display: table;
  width: calc(100% - #{$full-space});
  padding: $half-space 0;
  margin: 0 $half-space;

  .avatar-container,
  .body-container {
    display: table-cell;
    vertical-align: top;
  }

  .avatar-container {
    width: $avatar-size;

    .avatar {
      width: $avatar-size;
      height: $avatar-size;
    }
  }

  .body-container {
    position: relative;
    padding-left: $half-space;

    .author {
      margin-bottom: $half-space/2;

      font-size: 12px;
    }

    .timestamp {
      position: absolute;
      top: 0;
      right: 0;

      font-size: 12px;
    }
  }

  .delete-button {
    margin-right: $half-space/2;
    opacity: 0;
    visibility: hidden;
    @include transition(opacity 0.1s ease-in-out, visibility 0.1s ease-in-out, color 0.1s ease-in-out);

    cursor: pointer;
    color: inherit;

    &:hover { color: $highlight; }
  }

  &:hover {
    .delete-button {
      opacity: 1;
      visibility: visible;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid lighten($grey-border, 3);
  }

}