section.content {

  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  min-width: 1000px;
  overflow: hidden;
  @extend .islet;

  background: $light-grey-background;
  color: $light-grey-text;

}