.create-post {

  position: relative;
  color: $grey-800;
  background: $grey-100;
  box-shadow: 0 3px 10px rgba($black, 0.3);
  border-radius: $border-radius-base;

  .form-container { width: 90%; }

  .button-container { width: 10%; }

  .form-container,
  .button-container {
    padding: $half-space/2;
  }

  textarea {
    width: 100%;
    padding: $half-space/4;
    font-size: 14px;
    resize: none;
    border: none;
    outline: none;
    background-color: transparent;
    color: $grey-800;
  }

  li.track {
    margin-top: $half-space/2;
    list-style: none;
    border: 1px solid $grey-300;

    > .track-info-container > div {
      border-bottom: none;
    }
  }

}
