.currently-playing {

  position: relative;
  height: $minimized-currently-playing-height;
  overflow: hidden;

  background: $dark-grey-background;

  @include transition(all 0.3s ease-in-out);

  .artwork-info-container {
    display: table;
    width: 100%;
    height: ($minimized-currently-playing-height - $currently-playing-control-height);

    & > div {
      display: table-cell;
      vertical-align: middle;
    }

    .image-video-container {
      width: $sidebar-width;
      text-align: center;

      #artwork {
        display: none;
        width: 85px;
        height: 85px;
        @include background-cover();
        background-image: url('../images/track-art-placeholder.png'); // default image if track doesn't have artwork
      }
    }

    .song-info {
      z-index: 1;

      @extend %clearfix;
      position: relative;
      padding: 0 0 $half-space;
      text-align: center;

      @include transition(all 0.3s ease-in-out);

      .title,
      .artist {
        display: inline;
        margin: 0;
      }

      .title {
        @extend .zeta;
        line-height: 16px;
        color: $white;
        font-weight: 100;
      }

      .artist {
        font-size: 14px;
        line-height: 16px;
        color: $extra-light-grey-text;

        &:before {
          content: ' by ';
          padding-left: 2px;
        }
      }
    }
  }

  // .player-toggle {
  //   z-index: 2;

  //   position: relative;
  //   display: block;
  //   width: 40px;
  //   height: $currently-playing-toggle-height;
  //   margin: 0 auto;
  //   padding: $half-space/4;

  //   cursor: pointer;

  //   hr {
  //     width: 100%;
  //     margin: 1px 0;
  //     border-widtH: 1px 0 1px;
  //     border-style: solid;
  //     border-top-color: $light-grey-border;
  //     border-bottom-color: $dark-grey-border;
  //     @include transition(border-bottom-color 0.1s ease-in-out);
  //   }

  //   &:hover {
  //     hr {
  //       border-bottom-color: rgba($white, 0.2);
  //     }
  //   }
  // }

  .control-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: $currently-playing-control-height;

    @include transition(all 0.3s ease-in-out);

    & > .shadow {
      position: absolute;
      right: 0;
      bottom: -5px;
      left: 0;
      height: 5px;

      opacity: 0;
      @include transition(opacity 0.1s ease-in-out);

      background: -moz-linear-gradient(bottom,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
      background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
      background: -o-linear-gradient(bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
      background: -ms-linear-gradient(bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
      background: linear-gradient(to top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    }

    &.fixed {
      position: fixed;
      top: 0;
      bottom: auto;

      & > .shadow { opacity: 0.2; }
    }
  }

  .player-visualization {
    z-index: 0;

    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: ($minimized-currently-playing-height - $currently-playing-control-height);

    @include background-cover();
    @include transition(opacity 0.6s ease-in-out);
  }

  &.full {
    height: $full-currently-playing-height;

    .artwork-info-container {
      height: ($full-currently-playing-height - $currently-playing-control-height);

      .song-info {
        text-align: left;

        .title, .artist {
          display: block;
          line-height: inherit;
          @include transition(all 0.5s ease-in-out);
        }

        .title {
          font-size: 24px;
          font-weight: 100;
        }

        .artist {
          font-size: 18px;

          &:before {
            content: '';
            padding: 0;
          }
        }
      }
    }

    .player-visualization {
      display: block;
      height: ($full-currently-playing-height - $currently-playing-control-height);
    }

    .control-bar {
      background: $dark-grey-background;
    }

    .player-toggle {
      margin-top: 0;
    }
  }

}