footer {

  display: table;
  width: 100%;
  padding: 0 $half-space/2;

  background: $dark-grey-background;
  color: $light-grey-text;
  font-size: 16px;

  & > div {
    display: table-cell;
    height: 100%;
    padding: $half-space $half-space/2;

    vertical-align: top;

    &:not(:last-child) {
      @include border-image($grey-border, rgba(0, 0, 0, 0));
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: $grey-border;
    }
  }

}