form {

  .input-container {
    display: table;
    width: 100%;
    margin-bottom: $half-space;

    & > label, input, .input {
      display: table-cell;
      vertical-align: middle;
    }

    & > label {
      width: 100px;
      min-width: 100px;
      text-transform: uppercase;
      text-align: right;
      letter-spacing: 2px;
    }

    & > input {
      width: 100%;
      padding: $half-space/2;
    }

    & > .input {
      width: 100%;
      text-align: left;

      select {
        width: 20%;
      }
    }
  }

  label {
    color: inherit;
    transition: color 0.1s ease-in-out;

    &.active { color: $highlight !important; }
  }

  .submit-container {
    text-align: right;
  }

}
