form.full-page {

  .table-container {
    display: table;
    width: 100%;

    & > * {
      display: table-row;
      width: 100%;

      & > * {
        display: table-cell;
        padding: $half-space 0;
        vertical-align: middle;
      }
    }

    .input-container {
      label {
        width: 20%;
        text-align: left;
      }

      input {
        padding: $half-space/2;
      }

      input, .input {
        width: 100%;
      }
    }
  }

  &.narrow {
    width: 75%;
    margin: 0 auto;
  }

}
