form.full-page {

  display: table;
  width: 60%;
  margin: 0 auto;

  & > * {
    display: table-row;
    width: 100%;

    & > * {
      display: table-cell;
      padding: $half-space 0;
      vertical-align: middle;
    }
  }

  input {
    padding: $half-space/2 * 1.5;
  }

  .input-container {
    label {
      width: 20%;
      text-align: left;
    }

    input {
      font-size: 16px;
      border: none;
      outline: none;
      background: $dark-grey-background;
      color: $light-grey-text;
    }

    input, .input {
      width: 100%;
    }
  }

}