$action-indicator-size: 100px;

.global-action-indicator {
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -$action-indicator-size;
  margin-left: -$action-indicator-size;
  width: $action-indicator-size;
  height: $action-indicator-size;
  border-radius: 5px;
  line-height: $action-indicator-size;
  text-align: center;
  font-size: $action-indicator-size/2;
  color: $white;
  background-color: $grey-100;
  box-shadow: 0px 2px 55px rgba(0, 0, 0, 0.3);

  &.global-action-indicator-error {
    background-color: $red;
  }
}

.action-indicator-appear {
  opacity: 0.01;
  transition: opacity 300ms ease-in-out;

  &.action-indicator-appear-active {
    opacity: 1;
  }
}
