header {

  display: table;
  height: $header-height;
  width: 100%;

  text-align: left;

  background: $dark-grey-background;
  color: $dark-grey-text;

  & > * {
    display: table-cell;
    padding: $half-space / 2 $half-space;
    vertical-align: middle;
  }

  .logo-container {
    width: $sidebar-width;
    text-align: center;

    img.logo {
      max-width: 125px;
    }
  }

  .user-options-container {
    width: $sidebar-width;
    @include border-image($grey-border, rgba(0, 0, 0, 0));
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: $grey-border;

    color: $light-grey-text;

    .btn {
      padding: $half-space/4 $half-space/2;
    }

    .register-login-container {
      list-style: none;
      text-align: right;

      li {
        display: inline-block;

        &.login-modal-link {
          @extend a;
          cursor: pointer;
        }

        &:not(:last-child) {
          margin-right: $half-space;
        }
      }
    }
  }

}
