header {

  display: table;
  height: $header-height;
  width: 100%;

  text-align: left;

  background: $dark-grey-background;
  color: $dark-grey-text;

  & > * {
    display: table-cell;
    padding: 0 $half-space;
    vertical-align: middle;
  }

  .logo-container {
    width: $sidebar-width;
    text-align: center;

    img.logo {
      max-width: 125px;
    }
  }

  .user-options-container {
    width: $sidebar-width;
    @include border-image($grey-border, rgba(0, 0, 0, 0));
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: $grey-border;

    color: $light-grey-text;

    .btn {
      padding: $half-space/4 $half-space/2;
    }

    .dropdown-toggle-container {
      position: relative;
      display: table;
      min-width: 125px;
      height: $header-user-options-height;
      float: right;

      background-color: $medium-dark-grey-background;
      @include transition(background-color 0.1s ease-in-out);

      cursor: pointer;

      .avatar-container,
      .arrow-container {
        display: table-cell;
        text-align: center;
        vertical-align: middle;

        padding: $half-space/4;
      }

      .avatar-container {
        display: table;

        .avatar,
        span.username {
          display: table-cell;
          vertical-align: middle;
          text-align: left;
          max-width: 75px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .avatar {
          width: 25px !important;
          height: 25px !important;
        }

        span.username {
          padding-left: $half-space/2;
        }
      }

      &:hover,
      &.active {
        background-color: $hover-grey-background;
      }
    }

    .register-login-container {
      list-style: none;
      text-align: right;

      li {
        display: inline-block;

        &.login-modal-link {
          @extend a;
          cursor: pointer;
        }

        &:not(:last-child) {
          margin-right: $half-space;
        }
      }
    }
  }

}