.list-controls-container {

  display: table;
  width: 100%;
  height: 50px;

  background: $dark-grey-background;

  & > * {
    display: table-cell;
    padding: 0 $half-space;
    vertical-align: middle;
  }

  &.playlist {
    .options-container {
      width: 75%;
    }

    .search-container {
      width: 25%;
    }
  }

  &.search {
    .search-container {
      width: 75%;
    }

    .options-container {
      width: 25%;
    }
  }

}