div.modal-backdrop {

  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: center;
  background: rgba(0, 0, 0, 0.45);

  div.modal {
    z-index: 4;
    position: relative;
    margin: 150px auto 0 auto;
    padding: $half-space;
    width: 600px;

    border-top: 5px solid $highlight;
    color: $light-grey-text;
    background-color: $dark-grey-background;
    @include box-shadow(0px 2px 55px rgba(0, 0, 0, 0.3));

    input:not([type=submit]) {
      background: $light-grey-background;
      border: none;
      outline: none;
    }

    input[type=submit]:disabled { background-color: $light-grey-background; }

    .input-container > label {
      padding-right: $half-space;

      color: $light-grey-text;
    }

    .close-button {
      position: absolute;
      top: -10px;
      right: -10px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;

      background-color: $highlight;
      color: $white;
      cursor: pointer;
      @include border-radius(100%);
    }

    &.error {
      margin-top: 250px;
      width: 400px;

      border: none;
      background-color: rgba($hover-grey-background, 0.85);
      color: $white;

      .close-button { background-color: $red; }
    }
  }

}