.notification-center {

  width: $header-user-options-height;
  height: $header-user-options-height;
  line-height: $header-user-options-height;
  cursor: pointer;

  text-align: center;
  background-color: $medium-dark-grey-background;
  color: $light-grey-text;
  @include transition(background-color 0.1s ease-in-out);

  &:hover, &:active {
    background-color: $hover-grey-background;
  }

  &.has-new {
    background-color: $highlight;
    color: $white;

    &:hover, &:active {
      background-color: lighten($highlight, 5);
    }
  }

}

li.notification {
  padding: $half-space;

  &:not(:last-child) {
     border-bottom: 1px solid darken($light-grey-border, 3);
  }
}