.notification-center {
  position: relative;
  display: inline-block;
  width: $header-user-options-height;
  height: $header-user-options-height;
  line-height: $header-user-options-height;
  border-radius: $border-radius-base;
  cursor: pointer;

  text-align: center;
  color: $grey-900;
  font-size: 18px;
  transition: background-color 0.1s ease-in-out;

  &.active {
    background-color: $grey-200;
  }

  .notification-center-new-notifications-indicator {
    pointer-events: none;
    position: absolute;
    display: inline-block;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    border-radius: 100%;
    text-align: center;
    font-size: 12px;

    color: $white;
    background-color: $highlight;
  }
}

.notification-dropdown {
  z-index: 1000; // Place above everything except other dropdown menus
  position: absolute;
  top: 100%;
  right: 0;
  max-height: 340px; // roughly 5 3/4 notifications
  width: 350px;
  overflow-y: auto;
  background-color: $grey-200;
  color: $grey-800;
  line-height: 15px;
  text-align: left;

  .notifications-header {
    padding: $half-space/2;
  }

  .title {
    color: $white;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  a.mark-all-read {
    font-size: 12px;
  }
}
