section.page-modal {

  display: table;
  width: 100%;
  height: 100%;

  text-align: center;

  .form-container {
    display: table-cell;
    vertical-align: middle;

    .modal {
      width: 40%;
      padding: $half-space;
      margin: 0 auto;

      border-top: 5px solid $highlight;
      color: $light-grey-text;
      background: $dark-grey-background;
      @include box-shadow(0px 2px 55px rgba(0, 0, 0, 0.3));

      img {
        max-width: 40%;
        margin-bottom: $half-space;
      }

      form {
        input:not([type=submit]) {
          background: $light-grey-background;
        }

        input[type=submit]:disabled { background-color: $light-grey-background; }

        .input-container > label {
          padding-right: $half-space;

          color: $light-grey-text;
        }

        label.active { color: $highlight; }
      }

      .spinner {
        display: inline-block;
        margin-right: $half-space;
      }
    }

    .bottom-buttons-container {
      display: table;
      width: 100%;

      & > * {
        display: table-cell;
        width: 50%;
        vertical-align: middle;
        text-align: left;

        &:last-child {
          text-align: right;
        }
      }

      .options-container {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: block;

          &:not(:last-child) { margin-bottom: $half-space/4; }
        }
      }
    }
  }

}