$image-size: 175px;

.playlist-sidebar,
.group-sidebar {

  padding: $half-space;

  .title {
    font-weight: 300;
    text-transform: uppercase;

    > i {
      margin-left: $half-space/2;

      font-size: 80%;
      color: $dark-grey-text;
    }
  }

  .title-input {
    max-width: 150px;
    padding: $half-space/4 $half-space/2;
    margin: 0;
    background-color: transparent;
    color: inherit;
    border: 1px solid transparent;
    @extend h5;
    @include transition(border-color 250ms ease-in-out);

    &:active, &:focus {
      border-color: $highlight;
      outline: none;
    }
  }

  .action-buttons-container .action-button {
    background-color: $medium-dark-grey-background;

    i {
      color: inherit;
    }

    &:hover, &:active {
      background-color: $hover-grey-background;

      i {
        color: $white;
      }
    }

    &.inactive {
      i.icon-heart {
        color: $red;
        text-shadow: -1px 1px 8px rgba($red, 0.3), 1px -1px 8px rgba($red, 0.3);
      }

      i.icon-share-alt {
        color: $highlight;
        text-shadow: -1px 1px 8px rgba($highlight, 0.3), 1px -1px 8px rgba($highlight, 0.3);
      }
    }
  }

  .image-container {
    width: $sidebar-image-size;
    height: $sidebar-image-size;
    margin: 0 auto $half-space;

    background-color: $light-grey-background;
    @include background-cover();
    background-image: url('../images/playlist-art-placeholder.png'); // default image if playlist doesn't have artwork
    border: 3px solid lighten($light-grey-text, 5);
    @include border-radius(100%);
  }

  .stats-container {
    display: table;
    width: 100%;
    margin-bottom: $half-space;

    & > div {
      display: table-cell;
      width: 50%;
      text-align: center;
      vertical-align: middle;

      color: $white;

      i {
        margin-right: $half-space/4;

        &.icon-heart {
          color: $red;
        }

        &.icon-play,
        &.icon-user {
          color: $light-grey-text;
        }
      }
    }
  }

}