ul.playlist-list {

  @extend %clearfix;
  width: 100%;
  max-width: 200px*4 + $half-space*3;
  margin: $half-space auto;
  padding: 0;
  list-style: none;

  h3.no-playlists {
    color: $white;
    text-align: center;
  }

  li {
    margin: 0 $half-space $half-space 0;

    &:nth-child(3) {
      margin-right: 0;
    }
  }

}