$go-button-height: 45px;

.playlist-group-link {

  float: left;
  position: relative;
  width: 200px;
  height: 200px;
  padding: $half-space/2;
  margin: 0 0 $half-space;
  border: 3px solid lighten($light-grey-text, 5);
  @include border-radius(100%);
  overflow: hidden;

  background-color: $hover-grey-background;
  @include box-shadow(0 3px 10px rgba($black, 0.1));
  @include transition(background-color 0.1s ease-in-out);
  @include background-cover();

  .top-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: $half-space 0 $half-space/4;

    background-color: rgba($black, 0.5);
    color: $white;

    .title {
      margin: 0 0 $half-space/2;

      text-align: center;
      text-transform: uppercase;
      font-weight: lighter;
      color: inherit;
      @include transition(color 0.1s ease-in-out);
    }

    .stats-container {
      display: table;
      width: 100%;

      & > * {
        display: table-cell;
        width: 50%;
        text-align: center;
        vertical-align: middle;

        color: $white;

        i {
          margin-right: $half-space/4;

          &.fa-heart {
            color: $red;
          }

          &.fa-play,
          &.fa-users {
            color: $highlight;
          }
        }
      }
    }

    a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .playlist-tags-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 45px;
    text-align: center;
  }

  .go-button {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: $go-button-height;
    padding: 2px 0 5px;

    @extend .gamma;
    text-align: center;
    background-color: rgba($highlight, 0.5);
    color: rgba($white, 0.7);
    @include transition(all 0.1s ease-in-out);

    &:hover {
      color: rgba($white, 1);
      background-color: rgba($highlight, 1);
    }
  }

  &:hover {
    .title {
      color: $white;
    }
  }

  &:not(:last-child) {
    margin-right: $full-space;
  }

}