ul.playlist-list,
ul.group-list {

  width: 100%;
  min-width: 800px;
  margin: $half-space 0 0;
  padding: 0;
  list-style: none;

  h3.no-playlists {
    color: $white;
    text-align: center;
  }

  &.no-min-width {
    min-width: auto;
  }

}
