ul.playlist-list {

  @extend %clearfix;
  width: 100%;
  min-width: 800px;
  margin: $half-space auto;
  padding: 0;
  list-style: none;

  h3.no-playlists {
    color: $white;
    text-align: center;
  }

  li.playlist-link-container {
    margin-bottom: $half-space;
  }

}

.content.has-right-sidebar ul.playlist-list {
  min-width: 600px;
}

.content.has-right-sidebar.profile ul.playlist-list {
  min-width: 425px;
}