.playlist-link {

  position: relative;
  width: 200px;
  padding: $half-space/2 $half-space;

  cursor: pointer;

  background-color: $hover-grey-background;
  @include box-shadow(0 3px 10px rgba($black, 0.1));
  @include transition(background-color 0.1s ease-in-out);

  .title {
    margin: 0 0 $half-space/2;

    text-align: left;
    text-transform: uppercase;
    font-weight: lighter;
    color: inherit;
    @include transition(color 0.1s ease-in-out);
  }

  .artwork {
    width: (160px - $half-space*2);
    height: (160px - $half-space*2);
    margin: 0 auto $half-space/2;

    background-color: $light-grey-background;
    @include background-cover();
    background-image: url('../images/playlist-art-placeholder.png'); // default image if playlist doesn't have artwork
    border: 3px solid lighten($light-grey-text, 5);
    @include border-radius(100%);
  }

  .stats-container {
    display: table;
    width: 100%;

    .play-count-container,
    .like-count-container {
      display: table-cell;
      width: 50%;
      text-align: center;
      vertical-align: middle;

      color: $white;

      i {
        margin-right: $half-space/4;

        &.fa-heart {
          color: $red;
        }

        &.fa-play {
          color: $light-grey-text;
        }
      }
    }
  }

  a {
    z-index: 1;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &:hover {
    background: $medium-dark-grey-background;

    .title {
      color: $white;
    }
  }

}