.post-card {

  @extend .card;

  .avatar-container {
    width: 50px;
  }

  .post-timestamp {
    width: 130px;
    vertical-align: top;
    font-size: 12px;
    text-align: right;
  }

  .body {
    font-size: 16px;
  }

  li.track {
    list-style: none;
    border: 1px solid $grey-400;

    > .track-info-container > div {
      border-bottom: none;
    }
  }

  .post-delete-button {
    margin-right: $half-space/2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out, color 0.1s ease-in-out;

    cursor: pointer;
    color: inherit;

    &:hover { color: $highlight; }
  }

  &:hover {
    .post-delete-button {
      opacity: 1;
      visibility: visible;
    }
  }

}
