$privacy-level-toggle-size: 30px;

.privacy-level-container {

  position: relative;
  display: inline-block;
  margin-left: $half-space/2;
  vertical-align: middle;
  text-align: center;
  font-size: 15px;

  &.static {
    .privacy-level-toggle {
      cursor: default;
      &:hover, &:active { background-color: $medium-dark-grey-background; }
    }
  }

  .privacy-level-toggle {
    width: $privacy-level-toggle-size;
    height: $privacy-level-toggle-size;
    line-height: $privacy-level-toggle-size;
    background-color: $medium-dark-grey-background;
    color: $light-grey-text;
    @include transition(background-color 0.1s ease-in-out);
    cursor: pointer;

    &:hover, &:active {
      background-color: $hover-grey-background;
    }
  }

  .privacy-level-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
  }

  .privacy-level-option {
    display: block;
    padding: $half-space/4;
    cursor: pointer;
    background-color: $medium-dark-grey-background;
    color: $light-grey-text;
    @include transition(background-color 0.1s ease-in-out);

    &:hover, &:active {
      background-color: $hover-grey-background;
    }
  }

}