.profile-sidebar {

  padding: $half-space;

  .username {
    margin: 0 0 $half-space;

    font-weight: lighter;
    text-transform: uppercase;

    i {
      margin-left: $half-space/2;

      font-size: 80%;
      color: $dark-grey-text;
    }
  }

  .avatar {
    width: 225px;
    height: 225px;
    margin: 0 auto $half-space;
  }

  .stats-container {
    display: table;
    width: 100%;
    margin-bottom: $half-space;

    & > div {
      display: table-cell;
      padding: 0 $half-space/2;
      text-align: center;
      vertical-align: middle;

      color: $white;

      i {
        margin-right: $half-space/4;
      }

      &.playlist-count-container i { color: $highlight; }
      &.collaboration-count-container i { color: $light-grey-text; }
      &.like-count-container i { color: $red; }
    }
  }

}