nav.sidebar {

  display: table-cell;
  height: 100%;
  width: $sidebar-width;
  vertical-align: top;

  background: $medium-grey-background;
  color: $light-grey-text;

  .title-container {
    display: table;
    width: calc(100% - #{$half-space*2});
    padding: $half-space 0;
    margin: 0 $half-space;
    border-bottom: 1px solid $dark-grey-border;

    text-transform: uppercase;

    .title {
      display: table-cell;
      width: 90%;
      margin: 0;
    }

    .icon-container {
      display: table-cell;
      width: 10%;

      i {
        height: 20px;
        width: 20px;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        @include border-radius(100%);

        border: 2px solid $highlight;
        color: $highlight;
        cursor: pointer;
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    font-size: 16px;

    li {
      display: table;
      width: 100%;
      padding: $half-space/2 $half-space;

      .icon-container,
      .text-container {
        display: table-cell;
      }

      .icon-container {
        width: $full-space;
      }

      a, a:visited {
        color: $light-grey-text;
      }

      &.active {
        background: $medium-dark-grey-background;
        color: $white;
        font-weight: bold;

        a, a:visited {
          color: $white;
        }
      }

      &.link {
        cursor: pointer;

        &:hover {

        }
      }
    }
  }

  .new-playlist-container {
    display: table;
    width: 100%;

    input.new-playlist,
    .icon-container {
      display: table-cell;
      vertical-align: middle;
    }

    input.new-playlist {
      width: calc(100% - #{$half-space*2});
      margin: $half-space/2 $half-space;

      border: none;
      outline: none;
      background: inherit;
      color: inherit;
      font-size: 14px;
    }

    .icon-container {
      padding: 0 $half-space;

      i {
        cursor: pointer;
      }
    }
  }

  &.left {
    border-right: 1px solid $grey-border;
  }

  &.right {
    border-left: 1px solid $grey-border;
  }

}