nav.sidebar {

  display: table-cell;
  height: 100%;
  width: $sidebar-width;
  min-width: $sidebar-width;
  vertical-align: top;

  background: $medium-grey-background;
  color: $light-grey-text;

  .title-container {
    margin: 0 $half-space;

    border-color: $dark-grey-border;

    i {
      width: 20px;
      height: 20px;
      line-height: 17px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    font-size: 16px;

    li {
      display: table;
      width: 100%;
      padding: $half-space/2 $half-space;

      font-weight: light;

      .icon-container,
      .text-container {
        display: table-cell;
      }

      .icon-container {
        width: $full-space;
      }

      a {
        color: $light-grey-text;
      }

      &.active {
        background: $medium-dark-grey-background;
        color: $white;
        font-weight: bold;

        a {
          color: $white;
        }
      }

      &:hover a {
        text-decoration: none;
      }

      &:hover:not(.active) {
        background: $hover-grey-background;
      }
    }
  }

  .new-playlist-container {
    display: table;
    width: 100%;

    input.new-playlist,
    .icon-container {
      display: table-cell;
      vertical-align: middle;
    }

    input.new-playlist {
      width: calc(100% - #{$full-space});
      margin: $half-space/2 $half-space;

      border: none;
      outline: none;
      background: inherit;
      color: inherit;
      font-size: 14px;
    }

    .icon-container {
      padding: 0 $half-space;

      i {
        cursor: pointer;
      }
    }
  }

  &.left {
    border-right: 1px solid $grey-border;
  }

  &.right {
    border-left: 1px solid $grey-border;
  }

}