.react-tagsinput {
  border-bottom: 2px solid $grey-300;
  background: transparent;
}

input.react-tagsinput-input {
  width: auto !important;
  padding: $half-space/4 $half-space/2;

  font-size: 14px;
  background: transparent;
  color: $grey-800;
  border-bottom: none !important;
}

.react-tagsinput-tag {
  display: inline-block;
  white-space: nowrap;
  margin: 5px 5px 5px 0;
  padding: 3px 5px;
  height: 28px;
  vertical-align: top;
  cursor: default;

  background: $grey-100;
  color: $grey-800;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  transition: border-color 0.1s ease-in-out;

  &:first-of-type {
    margin-left: 10px;
  }

  &:hover {
    border-color: $grey-800;
  }
}

.react-tagsinput-remove {
  margin-left: 5px;
  padding-right: 5px;

  color: $grey-900;

  &:hover { color: $white; }

  &::before {
    content: 'x';
  }
}

div.modal {
  .react-tagsinput-tag {
    background-color: $grey-300;
  }
}
