.title-container {

  display: table;
  width: 100%;
  padding: $half-space/2 0;
  margin: 0 0 $half-space;

  text-transform: uppercase;

  .title {
    display: table-cell;
    width: auto;
    margin: 0;

    vertical-align: middle;
    text-align: left;
    letter-spacing: 3px;
    color: $white;
  }

  .icon-container {
    display: table-cell;
    width: 25px + $half-space/2;
    padding-right: $half-space/2;

    vertical-align: middle;
    text-align: right;

    i {
      height: 25px;
      width: 25px;
      font-size: 12px;
      line-height: 22px;

      text-align: center;
      @include border-radius(100%);

      border: 2px solid $light-grey-text;
      color: $light-grey-text;
    }
  }

}