.title-container {

  display: table;
  width: 100%;
  padding: $half-space/2 0;
  margin: 0 0 $half-space;
  border-bottom: 1px solid lighten($grey-border, 3);

  text-transform: uppercase;

  .title {
    display: table-cell;
    width: auto;
    margin: 0;
    padding-left: $half-space/2;

    vertical-align: middle;
    text-align: left;
    color: $white;
  }

  .icon-container {
    display: table-cell;
    width: 25px;

    vertical-align: middle;
    text-align: right;

    i {
      height: 25px;
      width: 25px;
      font-size: 12px;
      line-height: 22px;

      text-align: center;
      @include border-radius(100%);

      border: 2px solid $light-grey-text;
      color: $light-grey-text;
    }
  }

  &.below-controls-bar {
    margin-top: $half-space + $list-controls-height;
  }
}