.track {

  position: relative;

  text-align: left;
  background-color: transparent;
  transition: background-color 0.1s ease-in-out, border-left-width 0.1s ease-in-out;
  border-color: $highlight;
  border-style: solid;
  border-width: 0px;

  .track-info-container {
    display: table;
    width: 100%;
    min-height: (35px + $half-space*2);
    cursor: pointer;

    & > div {
      display: table-cell;
      height: 100%;
      vertical-align: middle;

      &:not(.source) {
        border-bottom: 1px solid $grey-400;
      }
    }

    .dropdown-icon-container {
      text-align: center;
      width: 30px + $half-space;
      padding: 0 0 0 $half-space;

      i {
        display: inline-block;
        height: 30px;
        width: 30px;
        line-height: 26px;
        letter-spacing: -1px;
        font-size: 20px;
        color: $grey-800;
        border-style: solid;
        border-width: 3px;
        border-color: $grey-800;
        border-radius: 100%;

        cursor: pointer;
        transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out;

        &:hover {
          color: $highlight;
          border-color: $highlight;
        }
      }
    }

    .artwork-container {
      padding: $half-space/2 0 $half-space/2 $half-space;
      width: (85px - ($half-space + $half-space/2));

      .artwork {
        width: 50px;
        height: 50px;

        @include background-cover();

        background-image: url('../images/track-art-placeholder.png'); // default image if track doesn't have artwork
      }
    }

    .info-container {
      padding: $half-space/2 $half-space/2 $half-space/2 $half-space;

      .title, .artist {
        margin: 0;
      }

      .title {
        font-weight: 500;
        color: $white;

        span.duration {
          @extend .small;
          padding-left: 3px;
          color: $grey-800;
        }
      }

      .artist {
        @extend .small;
        font-weight: 300;
      }
    }

    .options-container {
      min-width: 110px;
      padding: $half-space $half-space $half-space $half-space/2;
      text-align: right;

      .upvote-downvote-container,
      .add-container {
        font-size: 20px;

        i {
          cursor: pointer;
          color: inherit;
          transition: color 0.1s ease-in-out;
        }
      }

      .upvote-downvote-container {
        span.score,
        i.upvote {
          margin-right: $half-space/2;
        }

        span.score.upvoted,
        i.upvote:hover,
        i.upvote.active {
          color: $highlight;
        }

        span.score.downvoted {
          color: inherit;
        }

        span.score,
        i.downvote:hover,
        i.downvote.active {
          color: $white;
        }
      }
    }

    .source {
      position: relative;
      width: 5px;

      &.audiomack {
        background-color: $audiomack-orange;
      }

      &.bandcamp {
        background-color: $bandcamp-blue;
      }

      &.soundcloud {
        background-color: $soundcloud-orange;
      }

      &.spotify {
        background-color: $spotify-green;
      }

      &.youtube {
        background-color: $youtube-red;
      }
    }
  }

  &.active {
    background-color: $grey-300;
    border-left-width: 8px;

    &:hover { background-color: $grey-300 !important; }
  }

  &:hover {
    background-color: $grey-500;
  }

}
