.track {

  text-align: left;
  color: $light-grey-text;

  cursor: pointer;

  .track-info {
    display: table;
    width: 100%;

    .artwork-container {
      display: table-cell;
      padding: $half-space $half-space/2 $half-space $half-space;
      width: calc(85px - #{$half-space + $half-space/2});

      border-bottom: 1px solid $light-grey-border;

      img {
        width: 85px;
        height: 85px;
      }
    }

    .info-container {
      display: table-cell;
      padding: $half-space $half-space/2;
      vertical-align: middle;

      border-bottom: 1px solid $light-grey-border;

      .title, .artist {
        margin: 0;
      }

      .title {
        color: $white;

        span.duration {
          @extend .small;
          padding-left: 3px;
          color: $light-grey-text;
        }
      }

      .artist {
        @extend .small;
        font-weight: light;
      }
    }

    .options-container {
      display: table-cell;
      padding: $half-space $half-space $half-space $half-space/2;
      vertical-align: middle;

      text-align: right;

      .upvote-downvote-container,
      .add-container {
        font-size: 20px;

        i {
          cursor: pointer;
        }
      }

      .upvote-downvote-container {
        i {
          &.upvote {
            margin-right: $half-space/2;

            &:hover {
              color: $highlight;
            }
          }

          &.downvote:hover {
            color: $downvote-red;
          }
        }
      }

      .add-container {
        i {
          height: 30px;
          width: 30px;
          font-size: 14px;
          line-height: 26px;

          text-align: center;
          @include border-radius(100%);

          border: 2px solid $light-grey-text;

          &:hover {
            color: $highlight;
            border-color: $highlight;
          }
        }
      }
    }

    .source {
      display: table-cell;
      width: 30px;
      vertical-align: middle;
      text-align: center;

      font-size: 18px;
      color: $white;

      &.soundcloud {
        background: $soundcloud-orange;
      }

      &.youtube {
        background: $youtube-red;
      }

      &.bandcamp {
        background: $bandcamp-blue;
      }

      &.spotify {
        background: $spotify-green;
      }
    }
  }

  .track-comments {

  }

  &.active {
    background: $medium-dark-grey-background;
    border-left: 8px solid $highlight;

    &:hover {
      background: $medium-dark-grey-background;
    }
  }

  &:hover {
    background: $hover-grey-background;
  }

}