.user-action-dropdown {
  position: relative;
  display: table;
  min-width: 175px;
  height: $header-user-options-height;
  float: right;
  border-radius: $border-radius-base;
  transition: background-color 0.1s ease-in-out;
  color: $light-grey-text;
  cursor: pointer;

  .user-action-dropdown-user-container,
  .user-action-dropdown-arrow-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    padding: $half-space/4;
  }

  .user-action-dropdown-user-container {
    display: table;
    width: 100%;

    .avatar,
    span.username {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      max-width: 75px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .avatar {
      width: 25px !important;
      height: 25px !important;
    }

    span.username {
      padding-left: $half-space/2;
    }
  }

  .user-action-dropdown-arrow-container {
    width: 30px;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  &.active {
    background-color: $medium-dark-grey-background;
  }
}
