div.user-search-form {

  div.input-label-container {
    display: table;
    width: 100%;

    & > div {
      display: table-cell;
      vertical-align: middle;

      &:first-child {
        width: 20%;
        text-align: left;

        label {
          letter-spacing: 2px;
          transition: color 0.1s ease-in-out;
          &.active { color: $highlight; }
        }
      }

      &.input-container {
        position: relative;
        width: 100%;

        input {
          position: relative;
          width: 100%;
          padding: $half-space/2;

          color: $grey-800;
          font-size: 14px;
        }

        .spinner {
          position: absolute;
          top: $half-space/2;
          right: $half-space/2;
        }
      }
    }
  }

  ul.users-container {
    max-height: 450px;
    min-height: 250px;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    list-style: none;

    li.user {
      display: table;
      width: 100%;

      background-color: $grey-300;
      transition: background-color 0.1s ease-in-out, border-left-width 0.1s ease-in-out;

      &:not(:last-child) {
        border-bottom: 1px solid $grey-100;
      }

      & > div {
        display: table-cell;
        vertical-align: middle;
        padding: 0 $half-space/2;
      }

      & > .avatar-container {
        width: 85px + $half-space;
        text-align: center;
      }

      & > .name-container {
        width: 100%;
        text-align: left;
      }

      & > .add-icon-container {
        width: 30px + $half-space;
        text-align: center;

        i {
          display: inline-block;
          height: 30px;
          width: 30px;
          line-height: 26px;
          letter-spacing: -1px;
          font-size: 20px;
          color: $grey-800;
          border-style: solid;
          border-width: 3px;
          border-color: $grey-800;
          border-radius: 100%;

          cursor: pointer;
          transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out;

          &:hover,
          &.inactive {
            color: $highlight;
            border-color: $highlight;
          }

          &.inactive:hover {
            color: $grey-800;
            border-color: $grey-800;
          }
        }
      }

      &.active {
        background-color: $grey-200;
        border-left-width: 8px;

        &:hover {
          background-color: $grey-200;
        }
      }

      &:hover {
        background-color: $grey-500;
      }
    }
  }

}
